main {
  align-items: center;
  background-color: var(--background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 72.2vh;
  margin: 13.9vh 2rem;
  width: calc(100vw - 4rem);
  }
  
  .animated-text {
  align-items: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-h1);
  min-height: var(--font-size-h1);
  font-weight: 500;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: center;
  text-overflow: ellipsis;
  width: calc(100% - 4rem);
  margin: auto;
  }
  
  .info-text {
  align-items: center;
  color: var(--secondary);
  flex-direction: column;
  font-size: var(--font-size-h3);
  min-height: var(--font-size-h3);
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: left;
  text-overflow: ellipsis;
  width: calc(100% - 4rem);
  margin: auto;
  }
  
  .sentence-reloader {
  align-items: center;
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: flex-end;
  margin: 1rem 2.5rem 0 auto;
  user-select: none;
  width: fit-content;
  }
  
  .sentence-reloader:hover {
  animation: rotate360 1s ease-in-out forwards;
  color: var(--color-accent-green);
  }
  
  @keyframes rotate360 {
  from {
  transform: rotate(0);
  }
  to {
  transform: rotate(360deg);
  }
  }
  
  /* For iPad Pro 12.9" */
  @media only screen and (max-width: 1366px) {
  main {
  border-radius: 0.75rem;
  margin: 13.9vh 1.5rem 13.9vh 1.5rem;
  width: calc(100vw - 3rem);
  }
  .animated-text {
  font-size: var(--font-size-h2);
  min-height: var(--font-size-h2);
  margin: auto;
  }
  
  .info-text {
  font-size: var(--font-size-h4);
  min-height: var(--font-size-h4);
  margin: auto;
  }
  .sentence-reloader {
  font-size: 1.75rem;
  margin: 1rem 2rem 0 auto;
  }
  }
  
  /* For iPhone 14 & 15 Pro Max */
  @media only screen and (max-width: 690px) {
  main {
  border-radius: 0.5rem;
  margin: 13.9vh 1rem;
  width: calc(100vw - 2rem);
  }
  .animated-text {
  font-size: var(--font-size-h3);
  min-height: var(--font-size-h3);
  }
  .info-text {
  font-size: var(--font-size-h5);
  min-height: var(--font-size-h5);
  }
  .sentence-reloader {
  font-size: 1.5rem;
  margin: 1rem 1.5rem 0 auto;
  }
  }
  
  /* For iPhone 13 Mini */
  @media only screen and (max-width: 420px) {
  main {
  border-radius: 0.25rem;
  margin: 13.9vh 0.5rem;
  width: calc(100vw - 1rem);
  }
  .animated-text {
  font-size: var(--font-size-h5);
  min-height: var(--font-size-h5);
  }
  .info-text {
  font-size: 1rem;
  min-height: 1rem;
  }
  .sentence-reloader {
  font-size: 1rem;
  margin: 0 0.5rem 0 auto;
  }
  }
  