  <header  class="header">
    <div class="left">
      <h1>Kasai </h1>
        <div class="experimental-box">
          <p>This webpage is experimental</p>
        </div>
    </div>
    <div class="right">
      <div class="parent-container">
        <div class="google-apps-icon-link">
          <div class="google-apps-icon">
            <div class="row">
              <div class="cell"></div>
              <div class="cell"></div>
              <div class="cell"></div>
            </div>
            <div class="row">
              <div class="cell"></div>
              <div class="cell"></div>
              <div class="cell"></div>
            </div>
            <div class="row">
              <div class="cell"></div>
              <div class="cell"></div>
              <div class="cell"></div>
            </div>
          </div>
        </div>
      </div>
        <div class="user-icon">
            <a href="/user-account">
            <img src="assets/Tommyinnit.png" alt="User Image" class="user-icon__image">
            <div class="user-icon__details" #tooltip>
              <h4 class="user-icon__name" alt="Kasai technologies">Hiro Hamada</h4>
              <p class="user-icon__email">Tommyinnit</p>
              <p class="user-icon__email">Tommyinnit@gmail.com</p>
            </div>
          </a>
      </div>
    </div>
  </header>
