/*Adjust the width height and possition of the element*/
.header-container{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 2rem;
}

/*certering*/
.logo-section{
  display: flex;
  align-items: center;
}

/*Kasai Logo Text*/
.logo-title{
  font-family: Outfit;
  font-size: var(--Fontsize-h2);
  font-weight: 500;
  letter-spacing: -0.204px;
  background: var(--Gradiants-Title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* corrected */
  transition: font-size 0.5s ease-in-out;
}

.tagline-box{
  width: 312px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Gradiants-Stroke);
  display: flex; /* corrected */
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.tagline-content{
  width: 304px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--black);
  display: flex; /* corrected */
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.tagline-full, .tagline-short{
  color: var(--gray4);
  text-align: center;
  font-family: Outfit;
  font-size: var(--Fontsize-h5); /* corrected */
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 280px;
  transition: opacity 0.5s ease-in-out;
}

.tagline-short{
  display: none;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1.5rem;
}

.nav-link{
  color: var(--white);
  font-family: Outfit;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* added */
  margin-right: 1rem;
  margin-left: 1rem;

}
