.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-gray);
  position: sticky;
  top: 0;
}

.left,
.right {
  display: flex;
  align-items: center;
}

h1 {
  margin-left:3rem;
  font-size: 2rem;
  font-weight: 400;
}

.experimental-box {
  border: 0.15rem solid purple;
  border-radius: 0.6rem;
  margin: 5px;
  padding: 1px 5px;
  font-size: 1rem;
  line-height: 0.6em;
  color: var(--color-gray);
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: normal;
}

.link {
  align-self: center;
  margin-right: 2rem;
  padding-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-gray);
}

.link:hover {
  color: var(--color-light-blue);
}

@media (max-width: 800px) {
  .left h1,
  .link {
    font-size: calc(1em + 1vw);
  }

  .experimental-box {
    font-size: calc(0.4em + 1vw);
  }
}

@media (max-width: 600px) {
  .left h1,
  .link {
    font-size: calc(0.5em + 1vw);
  }

  .experimental-box {
    font-size: calc(0.4em + 1vw);
  }
}

@media (max-width: 400px) {
  .left h1,
  .link {
    font-size: calc(0.25em + 1vw);
  }

  .experimental-box {
    font-size: calc(0.2em + 1vw);
  }
}
