header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 51px;
  line-height: normal;
  letter-spacing: -0.004em;
  text-align: center;
  background: linear-gradient(90deg, var(--blue), var(--purple));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.badge {
  font-size: var(--font-size-h5);
  border: 3px solid var(--purple);
  border-radius: 1rem;
  color: var(--gray4);
  padding: 8px;
  padding: 4px;
}

.full-text{
  display: block;
}

.short-text{
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  color:  var(--white);
  font-size: var(--font-size-h3);
}
