footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-start;
  padding: 1rem;
  color: var(--gray);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black);
}


.footer-content {
    margin-left: 4rem;
    display: flex;
    gap: 2rem;
  }

  .privacy-link {
    text-decoration: none;
    color: var(--gray);
    transition: color 0.3s ease;
    margin-top: 1.5rem;
  }

  .privacy-link:hover {
    color: var(--blue);
  }
