/* footer.css */

footer {
  position: fixed;
  width: calc(100% - 4rem);
  left: 0;
  bottom: 0;
  margin: 0 2rem 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.footer-full {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-short {
  display: none;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: var(--white);
  font-family: Outfit;
  font-size: var(--Fontsize-h3);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0095rem;
}

.footer-link:hover {
  text-decoration: none;
}

.privacy-link {
  text-decoration: none;
  color: var(--white);
  font-family: Outfit;
  font-size: var(--Fontsize-h4);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0175rem;
}

.privacy-link:hover {
  text-decoration: none;
  color: var(--blue);
}

@media only screen and (max-width: 768px) {
  .footer-full {
    display: none;
  }
  .footer-short {
    display: flex;
    margin: 0 auto;
  }

  footer {
    width: calc(100% - 2rem);
    margin: 0 1rem 2rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1382px) {
  footer {
    width: calc(100% - 3rem);
    margin: 0 1.5rem 2rem;
  }
}

@media only screen and (min-height: 400px) and (max-height: 600px) {
  footer {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-height: 400px) {
  footer {
    margin-bottom: 0;
  }
}