footer {
    justify-content: flex-start;
    padding:  2% 5% 5% 5%;
    color: #888;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
  }
  
  .footer-content {
    display: flex;
    gap: 30px;
  }

  .privacy-link {
    text-decoration: none;
    color: #888;
    transition: color 0.3s ease;
    margin-top: 25px;
  }
  
  .privacy-link:hover {
    color: #80b2ef;
  }