.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0.25rem;
    padding: 1rem;
}

.header-logo {
    width: 96px;
    height: 96px;
    margin: 1vw;
    object-fit: cover;
}

h1 {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5rem;
}

main {
    display: flex;
    align-items: center;
    margin: 2rem;
    border-radius:calc(2.5rem);
    background-color: rgba(255,255,255, .10);
    backdrop-filter: blur(1.5625rem);
    height:calc(74% - 4rem);
    width: calc(100% - 4rem);
    overflow: hidden;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    width: calc(100% - 8rem);
    height: calc(100% - 8rem);
  }

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.category {
    flex-direction: column;
}