<header class="header">
    <img ngSrc="./assets/img/Tommyinnit.png" alt="TommyInnit" class="header-logo" height="585" width="694">
    <h1 class="header-text">The quick brown fox jumps over the lazy dog</h1>
</header>
        <main class="content-container main-container">
            <div class="category">
                <h2>Network</h2>
                <a href="https://opn.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/opnsense.png" alt="OPNsense Icon" height="512" width="512">
                        <span>OPNsense</span>
                    </div>
                </a>

                <a href="https://sw.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/tplink.png" alt="Switch Icon" height="225" width="225">
                        <span>Switch</span>
                    </div>
                </a>

                <a href="https://nebula.zyxel.com" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/zyxel.png" alt="Zyxel Icon" height="780" width="780">
                        <span>Zyxel</span>
                    </div>
                </a>
            </div>

            <div class="category">
                <h2>Development</h2>
                <a href="https://kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/chrome.png" alt="Chromium Icon" height="256" width="256">
                        <span>Chromium</span>
                    </div>
                </a>

                <a href="https://pve.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/pve.png" alt="Proxmox Icon" height="1000" width="1000">
                        <span>Proxmox</span>
                    </div>
                </a>

                <a href="https://npm.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img ngSrc="./assets/img/icon.png" alt="NGINX Icon" height="192" width="192">
                        <span>Nginx Proxy Manager</span>
                    </div>
                </a>
            </div>
        </main>
<app-footer></app-footer>
