<header class="header">
    <img src="/assets/Tommyinnit.png" alt="TommyInnit" class="header-logo">
    <h1 class="header-text">The quick brown fox was a lousy cowboy!</h1>
</header>
<div class="main-container">
    <div class="main-container">
        <main class="content-container">
            <div class="category">
                <h2>Network</h2>
                <a href="http://opn.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/opnsense.png" alt="OPNsense Icon">
                        <span>OPNsense</span>
                    </div>
                </a>
        
                <a href="http://sw.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/tplink.png" alt="Switch Icon">
                        <span>Switch</span>
                    </div>
                </a>
        
                <a href="https://nebula.zyxel.com" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/zyxel.png" alt="Zyxel Icon">
                        <span>Zyxel</span>
                    </div>
                </a>
            </div>
        
            <div class="category">
                <h2>Home</h2>
                <a href="http://10.20.30.3:8123" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/home.png" alt="Home Assistant Icon">
                        <span>Home Assistant</span>
                    </div>
                </a>
                
                <a href="http://10.20.30.4:32400" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/plex.png" alt="Plex Icon">
                        <span>Plex</span>
                    </div>
                </a>
            </div>
        
            <div class="category">
                <h2>Development</h2>
                <a href="http://kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/chrome.png" alt="Chromium Icon">
                        <span>Chromium</span>
                    </div>
                </a>
        
                <a href="http://pve.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/pve.png" alt="Proxmox Icon">
                        <span>Proxmox</span>
                    </div>
                </a>
        
                <a href="http://npm.kasai.tech" target="_blank" class="link">
                    <div class="link-container">
                        <img src="/assets/icon.png" alt="NGINX Icon">
                        <span>Nginx Proxy Manager</span>
                    </div>
                </a>
            </div>
        </main>
        
        <app-footer></app-footer>
      </div>
    