/* styles.css */
header {
  position: fixed;
  width: calc(100% - 4rem);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.logo-title {
  font-family: Outfit, Arial, sans-serif;
  font-size: var(--Fontsize-h2, 51px);
  font-style: normal;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: normal;
  letter-spacing: -0.5px;
  background: var(--Gradients-Title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 2rem;
  align-content: center;
}

.tagline-box {
  width: 312px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3.496px solid var(--orange);
  border-radius: 14.65px;
  margin-left: 1rem;
}

.tagline-full{
  color: var(--gray5);
  font-family: Outfit, Arial, sans-serif;
  font-size: var(--Fontsize-h5, 21px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tagline-short {
  display: none;
  color: var(--gray5);
  font-family: Outfit, Arial, sans-serif;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.navbar {
  margin-left: auto;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
}

.dot-grid {
  display: none;
  grid-template-columns: repeat(3, 6px);
  gap: 6px;
  list-style-type: none;
  filter: drop-shadow(2px 4px 4px rgba(255, 255, 255, 0.33));
}

.dot-grid li {
  width: 6px;
  height: 6px;
  background-color: var(--white);
  border-radius: 50%;
}

.nav-links {
  margin: 1rem;
}

.nav-link{
  margin-left: 1.5rem;
  margin-right: 0;
  color: var(--gray5);
  text-decoration: none;
  font-family: Outfit, Arial, sans-serif;
  font-size: var(--Fontsize-h3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.76px;
}

.nav-link:hover {
  color: var(--blue);
}

.theme-switcher {
  width: 3rem;
  height: 3rem;
  margin-right: 0rem;
  margin-left: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 910px) {
  header {
    margin: 1rem;
    width:calc(100% - 2rem);
  }

  .logo-title {
    font-size: 30px;
    letter-spacing: 0.3px;
    margin-left: 1rem;
  }

  .tagline-short {
    display: flex;
  }

  .tagline-full {
    display: none;
  }

  .tagline-box {
    width: 86px;
    height: 27px;
    border: 2.16px solid var(--orange);
    border-radius: 7.911px;
  }

  .dot-grid {
    display: grid;
  }

  .nav-links {
    display: none;
  }

  .theme-switcher {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .navbar {
    margin-right: 0;
  }
}

@media only screen and (min-width: 911px) and (max-width: 1280px) {
  header {
    margin: 1.5rem;
    width:calc(100% - 3rem);
  }

  .logo-title {
    font-size: 38px;
    letter-spacing: 0.38px;
    margin-left: 1.5rem;
  }

  .tagline-box {
    width: 321px;
    height: 50px;
    border: 3.49px solid var(--orange);
    border-radius: 14.65px;
  }

  .theme-switcher {
    margin-left: 0;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .navbar {
    margin-right: 0;
  }
}
