/* styles.css */
header {
  position: fixed;
  width: calc(100% - 4rem);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.navbar {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.header-container {
  position: fixed;
  width: calc(100% - 4rem);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-title {
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.04px;

  background: var(--Gradients-Title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.tagline-box {
  width: 312px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--orange, #F50);
  border-radius: 14px;
  margin-left: 1rem;
}

.tagline-content {
  width: 304px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grays-Gray, #1D1D20);

  text-align: center;
  font-family: Outfit;
  font-size: var(--Fontsize-h5, 21px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tagline-short {
  display: none;
}

.nav-links {
  margin: 8px;
  margin-left: 16px;
  margin-right: 16px;
  color: var(--white);
  font-family: "Outfit", serif;
  font-size: var(--Fontsize-h3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.5s ease-in-out;
}

.nav-link:hover {
  color: var(--blue);
}

.nav-box {
  display: none;
}

.dot-grid {
  display: grid;
  grid-template-columns: repeat(3, 6px);
  gap: 6px;
  padding: 0;
  list-style-type: none;
  transition: color 0.5s ease-in-out;
}

.dot-grid li {
  width: 6px;
  height: 6px;
  background-color: var(--white);
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

.theme-switcher {
  width: 3rem;
  height: 3rem;
  margin-right: 40px;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

