main {
  display: flex;
  align-items: center;
  margin: 2rem;
  border-radius:calc(2.5rem);
  background-color: rgba(255,255,255, .10);
  backdrop-filter: blur(1.5625rem);
  height:calc(74% - 4rem);
  width: calc(100% - 4rem);
  overflow: hidden;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
}


.animated-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  overflow: hidden;
  flex-direction: column;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-ivory-white);
}


.info-text {
  position: relative;
  align-items: center;
  width: calc(100% - 4rem);
  font-size: 2rem;
  margin: 1rem;
  color:var(--color-neutral-grey);
}

.error {
  margin: 0 auto auto 1rem;
  text-align: left;
  align-items: center;
  font-size: calc(1.5em + 1vw);
  background: linear-gradient(to right, #ff0000, #0000ff);
  display: inline-block;
  position: relative;
  color: transparent;
  background: -webkit-linear-gradient(
    16deg,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #131314 75%,
    #131314 100%
  );
  background: linear-gradient(
    74deg,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #131314 75%,
    #131314 100%
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


.warp-button {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 1rem;
  background-color: var(--color-accent-blue);
  color: #FFF;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}