body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width:calc(100% - 4rem);
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem;
  border-radius: calc(1rem + 1vw);
  background-color: var(--color-midnight);
  overflow-y: auto;
}

.typewriter-text {
  width: calc(100% - 2rem);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:calc(1em + 1vw);
  color: var(--color-snow);
  padding: 0;
  margin: 1rem;
}

h1 p {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}


.additional-text {
  text-align: left;
  color: var(--color-gray);
  font-size: 1.5em;
  padding: 4rem;
}

.error {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: var(--color-gray);
  font-size: calc(1em + 1vw);
}

.btn-notify {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray);
  color: var(--color-light-gray);
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-notify:hover {
  background-color: var(--color-black);
}
