.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem;
  border-radius:calc(1rem + 1vw);
  background-color: rgba(255,255,255, .10);
  backdrop-filter: blur(25px);
  height:calc(80vh - 4rem);
}

.typewriter-text {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:calc(1rem + 1vw);
}

.additional-text {
  width: 100%;
  margin: 2rem; /* Adds space around the element */
  text-align: left; /* Ensures text aligns to the left */
  overflow-wrap: break-word; /* Allows long words to break and wrap onto the next line */
  overflow: hidden; /* Hides overflow content that does not fit in the block's box */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate text overflow */
  color: var(--color-off-white); /* Sets the text color */
  font-size: 1.5rem; /* Sets the size of the font */
}

.error {
  margin: 0 auto 0 0;
  text-align: left;
  font-size: calc(1.5em + 1vw);
  background: linear-gradient(to right, #ff0000, #0000ff);
  display: inline-block;
  position: relative;
  color: transparent;
  background: -webkit-linear-gradient(
    16deg,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #131314 75%,
    #131314 100%
  );
  background: linear-gradient(
    74deg,
    #4285f4 0,
    #9b72cb 9%,
    #d96570 20%,
    #d96570 24%,
    #9b72cb 35%,
    #4285f4 44%,
    #9b72cb 50%,
    #d96570 56%,
    #131314 75%,
    #131314 100%
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


.btn-notify {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-accent-blue);
  color: var(--color-ivory-white);
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-notify:hover {
  
}

@media (max-width: 768px) {
  .typewriter-text, .additional-text, .error {
    padding-left: 1.5rem; /* Reduce padding for smaller screens */
  }

  .typewriter-text, .additional-text {
    font-size: calc(0.9em + 2vw); /* Increase relative font size */
  }

  .error {
    font-size: calc(1.3em + 2vw); /* Adjust font size for visibility */
  }

  .btn-notify {
    padding: 0.8rem 2rem; /* Adjust button padding */
    font-size: calc(0.9rem + 0.5vw); /* Adjust button font size */
  }
}

@media (max-width: 480px) {
  .main-container, .typewriter-text, .additional-text, .error {
    width: 100%; /* Full width for very small screens */
    padding: 1rem; /* Uniform padding for all elements */
  }

  .typewriter-text, .additional-text, .error {
    text-align: center; /* Center align text for better readability */
  }

  .btn-notify {
    width: auto; /* Allow button to fill width as needed */
    margin: 1rem; /* Ensure there's space around the button */
  }
}
