main {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  padding:4rem;
  margin: 2rem;
  border-radius:calc(0.5rem + 1vw);
  background-color: rgba(255,255,255, .10);
  backdrop-filter: blur(25px);
  height: 75%;
}

.typewriter-text {
  padding: 0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-snow);
  font-size:calc(0.5rem + 1vw);
}

.additional-text {
  padding: 0;
  margin:0;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-snow);
  font-size:calc(0.5rem + 1vw);
}

.reload {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: var(--color-black);
  font-size: calc(0.5rem + 1vw);
  transition: transform 0.3s ease;
  width: fit-content;
}

.reload:hover{
  color: var(--color-light-gray);
}

@media(max-width:800px) {
  main {
    border-radius:calc(0.5rem + 0.2vw);
    height: 60%;
    padding:1rem;
    margin: 0.5rem;
  }
  .typewriter-text {
    font-size:calc(0.5rem + 0.2vw);
  }
  .additional-text {
    font-size:calc(0.5rem + 0.2vw);
  }
  .reload {
    font-size:calc(0.5rem + 0.2vw);
  }
}

@media(max-width:600px) {
    main {
    border-radius:calc(0.3rem + 1vw);
      height: 60%;
      padding:0.5rem;
      margin: 0.5rem;
  }
  .typewriter-text {
    font-size:calc(0.2rem + 1vw);
  }
  .additional-text {
    font-size:calc(0.2rem + 1vw);
  }
  .reload {
    font-size: 0.75rem;
  }
}

@media(max-width:400px) {
  main {
    border-radius:calc(0.1rem + 1vw);
  }
  .typewriter-text {
    font-size:calc(0.1rem + 1vw);
  }
  .additional-text {
    font-size:calc(0.1rem + 1vw);
  }
  .reload {
    font-size: 0.5rem;
  }
}
