footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1rem;
}

.logo {
  font-weight: 500;
  color: inherit;
  font-size: 2rem;
  margin: 1rem;
}

.link {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}