<header>
    <div class="left">
        <h1 class="title"><a routerLink="/" href="/">Kasai</a></h1>
        <div class="experimental-box">
            <p class="full-text">This webpage is Experimental</p>
            <p class="short-text">Experimental</p>
        </div>
    </div>
        <nav class="links">
            
            <a href="https://github.com/kirilft" class="link full-text">Github</a>
            <a href="https://github.com/kirilft" class=" short-text">G</a>
        </nav>
</header>
