header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 10vh;
  }
  
.title {
    margin: 1rem;
    font-weight: 500;
    font-size: 2.5rem;
}

a{
    color: var(--color-ivory-white);
}

  .left {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  
  .experimental-box {
    color: var(--color-neutral-grey);
    border: 3px solid var(--color-accent-purple);
    border-radius: 1rem;
    padding: 0.75rem 1rem;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
  }
  
  .link {
    margin: 1rem;
    color: var(--color-off-white);
    text-decoration: none;
    font-size: 2rem;
  }

  .link:hover {
    color: var(--color-accent-blue);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, transparent 40%);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.link {
  margin: 1rem;
  color: var(--color-off-white);
  text-decoration: none;
  font-size: 2rem;
}

.link:hover {
  color: var(--color-accent-blue);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, transparent 40%);
}

.full-text {
  display: none;
}

.short-text {
  display: block;
}

@media (min-width: 1000px) {
  .full-text {
    display: block;
  }

  .short-text {
    display: none;
  }
}
