@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/*:root[data-theme="light"] {
  --red: #FF282F;
  --green: #33CC54;
  --blue: #1F8BFF;
  --purple: #A80B61;

  --white: #050505;
  --gray4: #0F0F15;
  --gray3: #585860;
  --gray2: #B0B0C7;
  --gray: #E5E5F1;
  --black: #FFF;
}

:root[data-theme="dark"] {

}*/

:root {
  --red: #FF383F;
  --green: #31D354;
  --blue: #2997FF;
  --purple: #B00B69;

  --white: #FFF;
  --gray4: #A5A5B0;
  --gray3: #585860;
  --gray2: #2C2C30;
  --gray: #0A0A0F;
  --black: #000;

  --font-size-h1: 4.1875rem;
  --font-size-h2: 3.1875rem;
  --font-size-h3: 2.369rem;
  --font-size-h4: 2.375rem;
  --font-size-h5: 1.3125rem;
  --small: 0.75rem;

  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  color: var(--white);
  background-color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html{
  display: flex;
  font-size: 100%;
  width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/img/index.png'); /* Replace with your screenshot path */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Set opacity to 50% */
  pointer-events: none; /* Allows interaction with underlying content */
  z-index: 1000; /* Ensures the overlay stays on top */
}
