/*styles.css*/
@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit_woff2.woff2') format('woff2'),
  url('/assets/fonts/Outfit_woff.woff') format('woff'),
  url('/assets/fonts/Outfit.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jersey 10';
  src: url('/assets/fonts/Jersey10_woff2.woff2') format('woff2'),
  url('/assets/fonts/Jersey10_woff.woff') format('woff'),
  url('/assets/fonts/Jersey10.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Define and register custom properties with fallback syntax for light/dark */
/* Theme Variables */
:root[data-theme="light"] {
  --green: #3CF53C;
  --orange: #FF4b00;
  --red: #FF4B4B;
  --pink: #F23761;
  --purple: #9C0169;
  --lila: #A601FF;
  --blue: #1F8DFF;

  --black: #FFF;
  --gray: #F1F1FF;
  --gray2: #A9A9AE;
  --gray3: #505055;
  --gray4: #373739;
  --gray5: #1D1D20;
  --white: #000;
}

:root[data-theme="dark"] {
  --green: #5F5;
  --orange: #F50;
  --red: #F55;
  --pink: #F2515B;
  --purple: #B00B69;
  --lila: #B00BFF;
  --blue: #2997FF;

  --black: #000;
  --gray: #161617;
  --gray2: #303030;
  --gray3: #49494C;
  --gray4: #A2A2A5;
  --gray5: #EAEAF6;
  --white: #FFF;
}


:root {
  color-scheme: light dark;

  --Fontsize-h1: 4.1875rem;
  --Fontsize-h2: 3.1875rem;
  --Fontsize-h3: 2.375rem;
  --Fontsize-h4: 1.75rem;
  --Fontsize-h5: 1.3125rem;
  --small: 0.75rem;

  --Gradients-Title: linear-gradient(90deg, var(--purple) 0%, var(--red) 100%);
  --Gradients-Stroke: linear-gradient(90deg, var(--black) -83.55%, var(--purple) 100%);
}

/* Global Styles */
body {
  font-family: 'Outfit', sans-serif;
  color: var(--white);
  background-color: var(--black);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  width: 100%;
}

/* Remove underline from links */
a {
  text-decoration: none;
  color:var(--gray5);
}

a:hover, a:focus {
  color: var(--blue);
}
