:root {
  --color-dark-black: #111;
  --color-dark-gray: #222;
  --color-gray: #888;
  --color-light-gray: #F5F5F5;
  --color-light-blue: #80b2ef;
  
  --color-dark-blue: #2C3E50; 
  --color-white: #FFFFFF;
  --color-primary: #007bff; 
  --color-success: #28a745;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-black);
}
