@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'), url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'), url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium Italic'), url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'), url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold Italic'), url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

:root[data-theme="light"] {
  --text: #010e0a;
  --background: #ededed;
  --primary: #006fd6;
  --secondary: #6e6e72;
  --accent: #f44eac;
}
:root[data-theme="dark"] {
  --text: #f1fefa;
  --background: #121212;
  --primary: #2997ff;
  --secondary: #8d8d91;
  --accent: #b10b69;
}

:root {
    --color-accent-green: #33cc54;
    --color-accent-red: #f00f0f;


    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-weight: 400;

    color: var(--text);
    background-color: var(--color-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    display: flex;
    font-size: 100%;
    width: 100%;
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: var(--color-link);
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }