:root {
    /* Main Colors */
    --color-black: #121212;
    --color-accent: #8E8E92;
    --color-Text: #D9E5E1;
    --color-Headings: #f1fefa;
  
    /* Accent Colors */
    --color-link: #2997ff;
    --color-experimental: #b00b69;
    --color-accent-green: #33cc54;
    --color-accent-red: #f00f0f;


    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-weight: 400;

    color: var(--text);
    background-color: var(--color-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    display: flex;
    font-size: 100%;
    width: 100%;
    min-height: 100vh;
  }
  
  a {
    font-weight: 500;
    text-decoration: none;
    place-items: center;
    color: var(--color-Text);
  }
  
  a:hover,
  a:focus {
    color: var(--color-link);
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Italic'), url('/assets/fonts/Poppins-Italic.woff2') format('woff2'), url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), url('/assets/fonts/Poppins-Medium.woff2') format('woff2'), url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium Italic'), url('/assets/fonts/Poppins-MediumItalic.woff2') format('woff2'), url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), url('/assets/fonts/Poppins-Regular.woff2') format('woff2'), url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'), url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'), url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold Italic'), url('/assets/fonts/Poppins-SemiBoldItalic.woff2') format('woff2'), url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  