@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'), url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'), url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium Italic'), url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'), url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold Italic'), url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

:root {
    --color-accent-green: #3c5;
    --color-accent-red: #f00f0f;
    --text: #f1fefa;
    --background: #111;
    --primary: #2997ff;
    --secondary: #8d8d91;
    --accent: #b10b69;
    --dark:#000;

    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--dark);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body,
  html {
    display: flex;
    font-size: 100%;
    width: 100%;
    max-height: 100%;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  h1 {font-size: 3.158rem; /* 50.56px */}
  
  h2 {font-size: 2.369rem; /* 37.92px */ }
  
  h3 {font-size: 1.777rem; /* 28.48px */}
  
  h4 {font-size: 1.333rem; /* 21.28px */}
  
  small {font-size: 0.750rem; /* 12px */}


  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("assets/img/index.png");  /* Adjust the path to your image if needed */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  